spring.application.name=karneval
server.port=8080
server.servlet.context-path=/api
spring.datasource.url=YOUR_SUPABASE_JDBC_URL
spring.datasource.username=YOUR_SUPABASE_USERNAME
spring.datasource.password=YOUR_SUPABASE_PASSWORD
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.open-in-view=false
spring.datasource.hikari.connection-init-sql=DEALLOCATE ALL
spring.jpa.properties.hibernate.jdbc.use_get_generated_keys=false
supabase.url=YOUR_SUPABASE_URL
supabase.service.role.key=YOUR_SERVICE_ROLE_KEY
supabase.anon-key=YOUR_ANON_KEY
supabase.jwks.x=YOUR_JWKS_X
supabase.jwks.y=YOUR_JWKS_Y
spring.security.user.name=disabled
spring.security.user.password=disabled
management.endpoints.web.exposure.include=mappings
